apiVersion: v1
data:
  log4j.properties: |
    # Do not change this generated file. Logging can be configured in the corresponding Kubernetes resource.
    log4j.appender.CONSOLE=org.apache.log4j.ConsoleAppender
    log4j.appender.CONSOLE.layout=org.apache.log4j.PatternLayout
    log4j.appender.CONSOLE.layout.ConversionPattern=%d{ISO8601} %p %m (%c) [%t]%n
    zookeeper.root.logger=DEBUG
    log4j.rootLogger=${zookeeper.root.logger}, CONSOLE
  zookeeper.node-count: "3"
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: zookeeper
    strimzi.io/kind: zookeeper
  name: {{ .Values.zookeeper.name }}-config
  namespace: {{ .Release.Namespace }}